@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// Remove Vuetify button blur
.v-ripple__container {
  opacity: 0 !important;
}

.v-overlay__scrim{
  background: transparent !important;
}

.v-btn {
  letter-spacing: -0.2px !important;
  text-transform: capitalize !important;
}

.v-selection-control {
  min-height: 48px !important;
}

html {
  letter-spacing: -0.1px !important;
}