@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Satoshi-SemiBold';
  src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

// Remove Vuetify button blur
.v-ripple__container {
  opacity: 0 !important;
}

.v-overlay__scrim{
  background: transparent !important;
}

.v-btn {
  letter-spacing: -0.2px !important;
  text-transform: capitalize !important;
}

.v-selection-control {
  min-height: 48px !important;
}

.v-theme--light {
  --v-hover-opacity: 0;
}

html {
  font-family: 'Satoshi-Medium';
  letter-spacing: -0.1px !important;
}