groupsize=5
[mtg.app]
client-id=""
session-id=""
private-key=""
pin-token=""
pin=""
[mtg.genesis]
members=[]
threshold=1
timestamp=0
[api]
host="127.0.0.1"
port="8000"
[proxy]
proxy-pin=""
proxy-user-secret=""
[proxyroot]
client-id=""
session-id=""
private-key=""
pin-token=""
scope=""

